<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EpyToDo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/not_found.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="screen__title">
            <h1>EpyToDo</h1>
            <h1>404 File not found.</h1>
        </div>
    </div>
</body>

</html>